<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.souto.workoutapp">

    <!-- Allows the camera use -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Glide needs internet-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Workout"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutApp">
        <activity
            android:name=".exercises.ExerciseCreatorLats"
            android:exported="true" />
        <activity
            android:name=".auth.Register"
            android:exported="true" />
        <activity
            android:name=".auth.Login"
            android:exported="true" />
        <activity
            android:name=".exercises.Chest"
            android:exported="true" />
        <activity
            android:name=".exercises.Legs"
            android:exported="true" />
        <activity
            android:name=".exercises.Lats"
            android:exported="true" />
        <activity
            android:name=".MyEvolution"
            android:exported="true" />
        <activity
            android:name=".WorkoutPlanner"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>